<body class="portfolio-body">
  <div @fade>
    <div class="nav-section">
      <a class="home-link" routerLink="/">HOME</a>
    </div>
    <div class="portfolio-heading">
      <p class="portfolio-title">Portfolio</p>
    </div>
    <div class="work-container">
      <div class="row-one">
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <img class="carousel-image" src="../../../../../assets/gmbinder-3.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/gmbinder-1.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/gmbinder-2.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>GM Binder</p>
        </div>
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <!-- <div class="carousel-item"> -->
              <img class="carousel-image" src="../../../../../assets/FRST-1.png" alt="first slide" style="display: block; width: 100%;">
              <!-- </div> -->
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/FRST-2.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/FRST-3.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>FRST</p>
        </div>
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <img class="carousel-image" src="../../../../../assets/genesis-vol-1.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/genesis-vol-2.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/genesis-vol-3.png" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>Genesis Volatility</p>
        </div>
      </div>
      <div class="row-two">
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <img class="carousel-image" src="../../../../../assets/lendtrade-1.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <!-- <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide> -->
          </carousel>
          <p>Lendtrade</p>
        </div>
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <img class="carousel-image" src="../../../../../assets/blocklight-1.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/blocklight-2.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <!-- <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide> -->
          </carousel>
          <p>Blocklight</p>
        </div>
        <div class="project">
          <carousel [interval]=0>
            <slide>
              <img class="carousel-image" src="../../../../../assets/blocklight-2.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img class="carousel-image" src="../../../../../assets/blocklight-1.png" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <!-- <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide> -->
          </carousel>
          <p>Ortho</p>
        </div>
      </div>
    </div>
    <div class="connect-area">
      <div class="connect-content">
        <p>Let's Connect:</p>
        <div>social media buttons</div>
      </div>
    </div>
  </div>
</body>
