<body class="portfolio-body">
  <div @fade>
    <div class="nav-section">
      <a class="home-link" routerLink="/">HOME</a>
    </div>
    <div class="portfolio-heading">
      <p class="portfolio-title">Portfolio</p>
    </div>
    <div class="work-container">
      <div class="row-one">
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
      </div>
      <div class="row-two">
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
        <div class="project">
          <carousel>
            <slide>
              <img src="https://via.placeholder.com/300" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://via.placeholder.com/300" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <p>description</p>
        </div>
      </div>
    </div>
    <div class="connect-area">
      <div class="connect-content">
        <p>Let's Connect:</p>
        <div>social media buttons</div>
      </div>
    </div>
  </div>
</body>
